@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

* {
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
