.card {
    width: calc(33% - 5px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border: 1px solid var(--color-border);
}

.card img {
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    flex-shrink: 0;
}
.card .details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 0;
}
