* {
    margin: 0;
    padding: 0;
}

body,
#root,
.container {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.content {
    grid-column-start: 1;
    grid-column-end: 7;

    position: relative;
}

.nav-side {
    grid-column-start: 7;
    grid-column-end: 10;

    max-height: 100vh;

    border-left: 1px solid var(--color-border);

    grid-template-rows: 1fr;

    display: grid;
}
